* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #EAEFEF;
}

.card {
    cursor: pointer;
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    transition: 0.4s ease;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.info {
    position: absolute;
    bottom: -100%;
    left: 0;
    height: 30%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    transition: bottom 0.4s ease;
}

.info h3 {
    font-size: 24px;
    font-weight: 700;
}

.info p {
    margin-top: 10px;
    color: #EAEFEF;
}

.card:hover{
    transform: scale(0.95);
}

.card:hover .info {
    bottom: 0;
}

.header {
    background-color: #333446;
    color: #EAEFEF;
}

.heading {
    text-align: center;
    padding: 20px;
    font-weight : 700;
}

.images {
    margin-left: 50px;
    padding: 20px 20px;
}

.image-grid {
    padding: 20px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    margin-top: 40px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.modal-content {
    display: block;
    margin: auto;
    width: 80%;
    max-width: 600px;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

footer{
    background-color: #222;
    padding : 20px 20px;
    color : #fff;
    text-align: center;
}

footer a{
    text-decoration: none;
    color : #fff;
}

@media (max-width : 800px) {

    .info {
        height: 50%;
    }

    .card {
        width: 300px;
        height: 300px;
    }

    .images {
        margin-left: 20px;
    }
}

@media (max-width : 1280px) {
    .info {
        height: 50%;
    }

    .card {
        width: 300px;
        height: 300px;
    }
}